* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Times New Roman', Times, serif;
}

body {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url('img/background.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

/* Center container */
.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    padding-top: 50px;
}

/* Box containing the form and image */
.box {
    width: 380px;
    background-color: rgba(255, 255, 255, 0.95);
    border-radius: 8px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    position: relative;
}

/* Image overlay section */
.image-overlay {
    background-image: url('img/background.jpg'); 
    background-size: cover;
    background-position: center;
    padding: 40px;
    text-align: center;
    color: white;
    position: relative;
    height: 230px;
}

.image-overlay h2 {
    font-size: 24px;
    margin-bottom: 10px;
}

h2 {
    font-size: 18px;
}

.image-overlay p {
    font-size: 16px;
    margin-bottom: 20px;
}

p {
    font-size: 14px;
}

/* Form Side */
.form-side {
    padding: 20px;
    background-color: white;
}

.form-side .form {
    display: flex;
    flex-direction: column;
}

.form-side .form input {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
}

/* Email and OTP section */
.email-otp {
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
}

.email-otp input {
    width: 65%;
}

.otp-button {
    width: 40%;
    height: 50px;
    background-color: #00796b;
    color: white;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
}

.otp-button:hover {
    background-color: #2cc402;
}

button[type="submit"] {
    width: 100%;
    padding: 10px;
    background-color: #00796b;
    color: white;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    margin-top: 20px;
}

button[type="submit"]:hover {
    background-color: #2cc402;
}

a {
    color: #00796b;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}
